.firstBlock {
   &__money {
      position: absolute;
      width: 41px;
      height: 40.52px;
      left: 666px;
      top: 524.24px;
   }

   &__Group1 {
      position: absolute;
      left: 34.69%;
      right: 63.18%;
      top: 9.44%;
      bottom: 89.83%;
   }

   &__Group2 {
      position: absolute;
      left: 36.01%;
      right: 63.91%;
      top: 10.08%;
      bottom: 89.89%;
   }

   &__Group3 {
      position: absolute;
      left: 35.57%;
      right: 64.06%;
      top: 9.83%;
      bottom: 89.91%;
      background-color: rgb(13, 13, 15);
   }

   &__Group4 {
      position: absolute;
      left: 36.13%;
      right: 63.78%;
      top: 9.73%;
      bottom: 90.24%;
      background-color: rgb(13, 13, 15);
   }

   &__Group5 {
      position: absolute;
      left: 36.29%;
      right: 63.34%;
      top: 9.75%;
      bottom: 89.98%;
   }
   &__Group6 {
      position: absolute;
      left: 35.94%;
      right: 63.71%;
      top: 9.8%;
      bottom: 89.96%;
   }
}
.secondBlock {
}
.thirdBlock {
}
.fourthBlock {
}
.fifthBlock {
}
.sixBlock {
}
.sevenBlock {
}
.Footer {
}
